section.featured_videos.column-contain
  h2 Videos
  .video_slideshow_scroller
    a.prev(role="button", href="#")
      span.cbutton--effect
        i.fa.fa-angle-left
        span.hidden-visually Previous video
    .video_slideshow("data-cycle-slides" = ".video_slide")
      each video in ar_videos
        .video_slide
          .vid(itemscope, itemtype="http://schema.org/VideoObject")
            div.vid-player(style="background-image:url(#{video.img})", data-vid-id="#{video.id}")
              svg.youtube-play
                use(xlink:href="#play")
            .hidden-visually
              h3(itemprop="name") #{video.title}
              meta(itemprop="embedUrl", content="https://youtube.googleapis.com/v/#{video.id}")
              meta(itemprop="author", content="#{video.channelTitle}")
              meta(itemprop="isFamilyFriendly", content="true")
              meta(itemprop="thumbnail", content="#{video.img}")
              meta(itemprop="url", content="https://youtube.googleapis.com/watch?v=#{video.id}")
            p(itemprop="alternativeHeadline") #{video.title}
    a.next(role="button", href="#")
      span.cbutton--effect
        i.fa.fa-angle-right
        span.hidden-visually Next video
  .cl
