section.featured_videos.column-contain
  h2 Videos
  .video_slideshow_scroller
    .prev
      span.cbutton--effect
        i.fa.fa-angle-left
    .next
      span.cbutton--effect
        i.fa.fa-angle-right
    .video_slideshow("data-cycle-slides" = ".video_slide")
      each video in videos
        .video_slide
          figure.vid
            div.vid-player(style="background-image:url(#{video.thumbnail})", data-vid-id="#{video.id}")
              svg.youtube-play
                use(xlink:href="#play")
            p #{video.title}
              if video.link
                |  (
                a(href="#{video.link.url}", target="_blank") #{video.link.title}
                |)
  .cl
